<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-offset-1 col-sm-11">
        <p>&copy; Emschi in da house yo {{ now | localized_date: '%Y' }} </p>
      </div>
      <div class="col-md-1 col-sm-1">
        <p>social</p>
      </div>
    </div>
  </div>
</footer>
